@{
    ViewData["Title"] = "Aeropuerto";
}
<br />
<div class="jumbotron">
    <h1 class="display-4">Aeropuerto Glow</h1>
    <p class="lead">Administracion del Aeropuerto Glow</p>
    <hr class="my-4">
    <p>Donde se podra manipular toda la información de los vuelos</p>
</div>
<div class="row">
    <div class="col-md-12">
        <ul class="list-group text-center">
            <li class="list-group-item active">Glow</li>
            <li class="list-group-item">Vuelos</li>
            <li class="list-group-item">Clientes</li>
            <li class="list-group-item">Tarjetas de Embarcacion</li>
            <li class="list-group-item">Avion</li>
        </ul>
    </div>
</div>
